<form class="form">
    <div class='form-group'>
        <label for='iptFone'>Telefone</label>
        <input type='text' class='form-control' name='ipt_fone' id='iptFone' aria-describedby='iptFoneHelp' placeholder='Digite o Telefone'>
    </div>
    <div class='form-group'>
        <label for='iptAddress'>Endereço</label>
        <input type='text' class='form-control' name='ipt_address' id='iptAddress' aria-describedby='iptAddressHelp' placeholder='Digite o Endereço'>
    </div>
    <div class='form-group'>
        <label for='iptAddress_number'>Número predial</label>
        <input type='text' class='form-control' name='ipt_address_number' id='iptAddress_number' aria-describedby='iptAddress_numberHelp' placeholder='Digite o Número predial'>
    </div>
    <div class='form-group'>
        <label for='iptAddress_district'>Bairro</label>
        <input type='text' class='form-control' name='ipt_address_district' id='iptAddress_district' aria-describedby='iptAddress_districtHelp' placeholder='Digite o Bairro'>
    </div>
    <div class='form-group'>
        <label for='iptAddress_cep'>CEP</label>
        <input type='text' class='form-control' name='ipt_address_cep' id='iptAddress_cep' aria-describedby='iptAddress_cepHelp' placeholder='Digite o CEP'>
    </div>
    <button type="button" id="btnRecordMembers" class="btn btn-primary">Gravar</button>
</form>